@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/Avenir-Roman.woff2") format("woff2"), url("../fonts/Avenir-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Black.woff2") format("woff2"), url("../fonts/RobotoSlab-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Snell Roundhand";
  font-display: swap;
  src: url("../fonts/Snell Roundhand.woff2") format("woff2"), url("../fonts/Snell Roundhand.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

img,
svg {
  display: block;
}

textarea {
  resize: vertical;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  padding: 0;
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  transition: opacity 0.3s ease;
  opacity: 0;
}

body.hidden {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*::selection {
  background: #ddcfc6;
  color: #59677e;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 20px;
}

.infographic {
  background: #fdf8f1;
  height: 100vh;
}

.infographic__head {
  position: relative;
  padding: calc((1vw + 1vh) * 1.5) calc((1vw + 1vh) * 2.2) calc((1vw + 1vh) * 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infographic__head:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(360deg, #fdf8f1 82.9%, rgba(253, 248, 241, 0) 119.81%);
  opacity: 0.8;
  z-index: -1;
}

.infographic__title {
  display: flex;
  align-items: center;
}

.infographic__title .title {
  letter-spacing: 1.41px;
  color: #333333;
  font-size: calc((1vw + 1vh) * 1.3);
  margin-right: calc((1vw + 1vh) * 0.9);
  font-family: "RobotoSlab";
  font-weight: 900;
}

.infographic__title .title-year {
  color: #b19673;
  font-size: calc((1vw + 1vh) * 1.9);
  font-family: "Snell Roundhand";
}

.infographic__secects {
  display: flex;
  align-items: center;
  color: #020e3e;
  gap: calc(1vw + 1vh);
}

.infographic__secects select {
  cursor: pointer;
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0.8);
  border: 1px solid #020e3e;
  background-color: #fff;
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 700;
  font-size: calc((1vw + 1vh) * 0.66);
  width: calc((1vw + 1vh) * 7);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='14' viewBox='0 0 22 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2574 9.2264L2.61229 0.581299L0.514648 2.67894L11.2507 13.415L11.2536 13.412L11.2603 13.4187L22 2.67908L19.9024 0.581437L11.2574 9.2264Z' fill='%23020E3E'/%3e%3c/svg%3e ");
  background-repeat: no-repeat, repeat;
  background-position: right 1em top 50%, 0 0;
  background-size: 1em auto, 100%;
}

.infographic__skeleton {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-right: calc((1vw + 1vh) * 2.1);
  padding-left: calc((1vw + 1vh) * 7);
}

.skeleton__item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.skeleton__item:nth-of-type(1),
.skeleton__item:nth-of-type(2) {
  flex: 0 0 15%;
}

.skeleton__item .item__img {
  width: calc((1vw + 1vh) * 1.66);
  height: calc((1vw + 1vh) * 1.66);
  overflow: hidden;
  margin-bottom: calc((1vw + 1vh) * 0.5);
}

.skeleton__item .item__img img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.skeleton__item .item__name {
  margin-bottom: calc((1vw + 1vh) * 0.7);
  font-size: calc((1vw + 1vh) * 0.6);
  color: #333333;
  font-family: "Snell Roundhand";
  font-style: italic;
  font-weight: 700;
}

.skeleton__item .item__line {
  width: 1px;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: calc((1vw + 1vh) * 0.93);
}

.skeleton__item .item__data {
  margin-bottom: calc((1vw + 1vh) * 0.15);
  color: #020e3e;
  font-size: calc((1vw + 1vh) * 0.53);
  font-family: "Avenir";
  font-weight: 400;
  line-height: 140%;
}

.infographic__footer {
  padding: calc((1vw + 1vh) * 1.1) calc((1vw + 1vh) * 2.2) calc((1vw + 1vh) * 0.33);
}

.infographic__legend {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: calc((1vw + 1vh) * 0.66);
}

.infographic__legend .legend__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: calc((1vw + 1vh) * 0.5);
}

.infographic__legend .item-ico {
  width: calc((1vw + 1vh) * 0.9);
  height: calc((1vw + 1vh) * 0.9);
  overflow: hidden;
}

.infographic__legend .item-ico svg {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.infographic__legend .item-text {
  margin-right: calc((1vw + 1vh) * 0.5);
  font-family: "Avenir";
  font-weight: 400;
  font-size: calc((1vw + 1vh) * 0.6);
  color: #020e3e;
}

.infographic__footer-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infographic__footer-data .footer-data__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: calc((1vw + 1vh) * 1.15);
}

.infographic__footer-data .item-param {
  font-family: "Avenir";
  font-weight: 400;
  font-size: calc((1vw + 1vh) * 0.6);
  color: #020e3e;
  margin-right: 15px;
  margin-right: calc((1vw + 1vh) * 0.5);
}

.infographic__footer-data .item-param-data {
  font-family: "Avenir";
  font-weight: 700;
  font-size: calc((1vw + 1vh) * 0.8);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b19673;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 98%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .container {
    padding: 0 10px;
  }
}